PORT=4000

MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/hotel-booking?retryWrites=true&w=majority

# Clerk Keys
CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CLERK_SECRET_KEY=sk_test_xxxxx
CLERK_WEBHOOK_SECRET=whsec_xxxxx

# Cloudinary
CLOUDINARY_CLOUD_NAME=xxxxx
CLOUDINARY_API_KEY=xxxxx
CLOUDINARY_API_SECRET=xxxxx

# NodeMailer SMTP (Brevo)
SENDER_EMAIL=your@email.com
SMTP_USER=xxxxx
SMTP_PASS=xxxxx

# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxx

# Currency
CURRENCY=$
